<div class="span9">
  <div class="foo" style="padding:20px;">
    <h1>{{title}}</h1>

    <p>{{body}}</p>

    <hr>
    <h5>Comments</h5>
    <ul>
      {{#each comments}}
        <li>{{body}}</li>
      {{else}}
      No Comments
      {{/each}}
    </ul>
    <p>{{#linkTo "comments.new"}}Make Comment{{/linkTo}}</p>

    {{outlet}}
  </div>

</div>